---
const { title, subtitle, description, img, id } = Astro.props;
---

<div id={id} class="card w-full border-b">
    <div class="flex flex-col md:flex-row justify-center md:justify-evenly items-center h-screen">
<<<<<<< HEAD
      <div class=" w-11/12 text-center md:text-start md:px-36">
        <h1 class="text-2xl  text-red-900">{title}</h1>
        <h1 class="text-4xl font-semibold text-white my-2">{subtitle}</h1>
        <p class=" md:w-auto">
          {description}
=======
      <div class="w-5/6 md:w-5/12 ">
        <h1 class="text-2xl  text-red-900 text-center md:text-start">{title}</h1>
        <h1 class="text-4xl font-semibold text-white my-2 text-center md:text-start">{subtitle}</h1>
        <p class="md:w-auto text-center md:text-start">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae
          iste quas eveniet exercitationem nulla pariatur veritatis perspiciatis
          beatae, sit accusantium.
>>>>>>> 5633ad4fd33f58630f1867a04ea84cc21c072dd6
        </p>
        <div >
          <slot/>
        </div>
      </div>

<<<<<<< HEAD
      <div class=" hidden md:block   w-full">
        <div class=" mx-5 p-10 my-5 rounded-full   -z-10 bg-red-100">
            <img src={img} alt="" width="300" class="z-30 my-10 mx-auto" />
=======
      <div class=" md:w-5/12 w-full">
        <div class="hidden md:block mx-5 py-3 my-5 rounded-full  -z-10 bg-red-100">
            <img src={img} alt=""  class="z-30 my-10" />
>>>>>>> 5633ad4fd33f58630f1867a04ea84cc21c072dd6
        </div>
        
      </div>
    </div>
</div>
